{% extends 'base.html' %}

{% block title %}题 {{ question.order }} | {{ config.TITLE }}{% endblock %}

<!-- 覆盖原来的flash -->
{% block flash_messages %}{% endblock %}

{% block content %}
    {% include '_partial/_question_content.html' %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/question.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/confetti.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/question.js') }}"></script>
<script src="{{ url_for('static', filename='js/confetti.js') }}"></script>
{% endblock %}
